<!DOCTYPE html>
<html lang="en">

<head>
	<!--<script src="https://www.w3schools.com/lib/w3.js"></script>-->

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--scrip para conectar con vue a través de CDN-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
	<!--link para CSS	-->
	<link rel="stylesheet" href="styleEvento.css">
</head>

<body class="">

	<div id="app" class="container">

		<!--div de la pagina principal-->
		<div id="mainDiv" class="mainDiv center-block container">
			<div class="class1 row">
				<div class="col-xs-2">
					<a target="_blank" href="http://www.santaolalla.es/index.php"><img src="imgEventos/escudo2.png" class="logo img-responsive" alt="logo"></a>
				</div>
				<div class="col-xs-9">
					<h1 class="h1Main">Santa Olalla</h1>
				</div>
			</div>

			<div class="calendario container-fluid">
				<button type="button" class="btn btn-success" @click="changeDiv('calendario')">
					<h3>CALENDARIO EVENTOS</h3>
				</button>
			</div>

			<div class="deportivo container-fluid">
				<button type="button" class="btn btn-success" @click="changeDiv('deportes')">
					<h3>EVENTOS DEPORTIVOS</h3>
				</button>
			</div>

			<div class="cultural container-fluid">
				<button type="button" class="btn btn-success" @click="changeDiv('cultura')">
					<h3>EVENTOS CULTURALES</h3>
				</button>
			</div>

			<div class="festivos container-fluid">
				<button type="button" class="btn btn-success" @click="changeDiv('festivo')">
					<h3>EVENTOS FESTIVOS</h3>
				</button>
			</div>

			<div class="chat container-fluid">
				<button type="button" class="btn btn-success" @click="changeDiv('chat')">
					<h3>CHAT</h3>
				</button>
			</div>
		</div>
		<!--//////////////////////////////////////////////////////////////////////////////////////////////////-->

		<!--DIV calendario-->
		<div id="calendario" class="container">
			<div class="row">
				<div class="col-xs-6">
					<a class="" href="index.html"><img class="" src="imgEventos/volver3.png" alt="casa">
					</a>
				</div>
				<div class="col-xs-6">
					<a target="_blank" href="http://www.santaolalla.es/index.php"><img src="imgEventos/escudo3.png" class="logo img-responsive" alt="logo"></a>
				</div>

			</div>

			<div class="h1Main">
				<h2>CALENDARIO</h2>
			</div>

			<div class="" v-for="evento in eventos">
				<div>
					<button type="button" class="btn btn-success evento" @click="divExtend(evento.nombre,'calendario')">

						<p>{{evento.fecha}}</p>
						<h4>{{evento.nombre}}</h4>

					</button>
				</div>
			</div>

		</div>
		<!--//////////////////////////////////////////////////////////////////////////////////////////////////-->

		<div id="deportes" class="container">
			<div class="row">
				<div class="col-xs-6">
					<a class="" href="index.html"><img class="" src="imgEventos/volver3.png" alt="casa">
					</a>
				</div>
				<div class="col-xs-6">
					<a target="_blank" href="http://www.santaolalla.es/index.php"><img src="imgEventos/escudo2.png" class="logo img-responsive" alt="logo"></a>
				</div>

			</div>

			<div class="h1Main">
				<h2>DEPORTES</h2>
			</div>

			<div class="" v-for="evento in eventosD">
				<button type="button" class="btn btn-success eventoD" @click="divExtend(evento.nombre,'deportes')">
					<p>{{evento.fecha}}</p>
					<h4>{{evento.nombre}}</h4>
				</button>

			</div>

		</div>
		<!--//////////////////////////////////////////////////////////////////////////////////////////////////-->

		<div id="cultura" class="container">
			<div class="row">

				<div class="col-xs-6">
					<a class="" href="index.html"><img class="" src="imgEventos/volver3.png" alt="casa">
					</a>
				</div>
				<div class="col-xs-6">
					<a target="_blank" href="http://www.santaolalla.es/index.php"><img src="imgEventos/escudo2.png" class="logo img-responsive" alt="logo"></a>
				</div>


			</div>

			<div class="h1Main">
				<h2>CULTURA</h2>
			</div>

			<div class="" v-for="evento in eventosC">
				<button type="button" class="btn btn-success eventoC" @click="divExtend(evento.nombre,'cultura')">
					<p>{{evento.fecha}}</p>
					<h4>{{evento.nombre}}</h4>
				</button>

			</div>
		</div>
		<!--////////////////////////////////////////////////////////////////////////////////////////////////-->
		<div id="festivo" class="container">
			<div class="row">
				<div class="col-xs-6">
					<a class="" href="index.html"><img class="" src="imgEventos/volver3.png" alt="casa">
					</a>
				</div>
				<div class="col-xs-6">
					<a target="_blank" href="http://www.santaolalla.es/index.php"><img src="imgEventos/escudo2.png" class="logo img-responsive" alt="logo"></a>
				</div>

			</div>

			<div class="h1Main">
				<h2>FIESTAS</h2>
			</div>

			<div class="" v-for="evento in eventosF">
				<button type="button" class="btn btn-success eventoF" @click="divExtend(evento.nombre,'festivo')">
					<p>{{evento.fecha}}</p>
					<h4>{{evento.nombre}}</h4>
				</button>

			</div>
		</div>

		<!--///////////////////////////////////////////////////////////////////////////////////////////-->

		<div id="eventoExtend" class="container">
			<div class="row">
				<div class="col-xs-6">
					<a @click="volver()"><img src="imgEventos/volver3.png"></a>
				</div>

				<div class="col-xs-6">
					<a class="" href="index.html"><img class="" src="imgEventos/home.png" alt="casa">
					</a>
				</div>

			</div>
			<div class="container divExtend">

				<div v-for="evento in eventFilter">

					<h2>Fecha:</h2>
					<p>{{evento.fecha}}</p>
					<h2>Hora:</h2>
					<p>{{evento.hora}}</p>
					<h2>Lugar:</h2>
					<p>{{evento.lugar}}</p>
					<h2>Dirección:</h2>
					<p>Dirección: {{evento.direccion}}</p>
					<h2 class="divExtendH2">{{evento.nombre}}</h2>
					<p>{{evento.descripcion}}</p>
				</div>

			</div>
			<h3>Mapa:</h3>
		</div>
		<div class="container divMapa">
			<a id="map"></a>
		</div>
	</div>
	<script src="appEventos.js"></script>
</body>

</html>
